<div class="row">
  <center>
    <!-- left side -->
    <div class="col-md-4">
      <h3 class="submitHeader">Burgers in Waiting</h3>
      <div id="burgersInWaiting">

        <!-- Add User Inputted Burger -->
        {{#each burgers}}
         {{#unless devoured}}
         <form action="api/burgers/eat/{{id}}" method="POST">
         <div class="input-group">
           <li class="form-control">{{id}}. {{burger_name}}</li>
           <span class="input-group-btn">
             <button class="btn btn-success devour-button" type="submit">Devour Time!</button>
           </span>
         </div>
         </form>
         {{/unless}}
         {{/each}}
      </div>
    </div>

    <div class="col-md-4"></div>

    <!-- right side -->
    <div class="col-md-4">
      <h3 class="submitHeader">Burgers Devoured!!</h3>
      <div id="burgersDevoured">

        <!-- All Devoured Burgers -->
        {{#each burgers}}
         {{#if this.devoured}}
         <div class="input-group">
           <li class="form-control">{{this.id}} .{{this.burger_name}}</li>
         </div>
         {{/if}}
         {{/each}}
         
      </div>
    </div>
  </center>
</div>